



body{
    background: #222629;
	text-align: center;
	font-family: 'Yeon Sung', cursive;
	font-size: 14pt;


}
p{
    font-family: 'Yeon Sung', cursive;
    text-align: center;/*переход в центр*/
    margin-top: 200px;/*отступ от верха*/
	font-size: 50px;/*размер шрифта*/
	color: #61892f;

}
/*/////*/
.b1 {
	box-shadow: 0px 10px 14px -7px #435a5e;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.b1:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.b1:active {
	position:relative;
	top:1px;
}

.button1{
    text-align: center;
    top: 50%;
}
.radio1 {
	
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	color: #ffffff;
}
.text2{
	color: #ffff;
	
	
}
.b2{
	text-align: center;
	top: 50%;
	margin: 20px;
}
.b2 {
	box-shadow: 0px 10px 14px -7px #435a5e;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.b2:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.b2:active {
	position:relative;
	top:1px;
}
label{
	font-size: 24px;
	color: #ffffff;
}
	
.radio-group{
	display: table;
}
.radio-group input{
	display: table-cell;
	vertical-align: middle;
	margin-left: 805px;
	text-align: 20px;
	text-align: center;
	
}
label{
	margin-left: 2px;
}

h1{
	color: #ffffff;
	
}


